header {
  background: rgba(195, 169, 185, 0.7);
  width: 100%;
  position: fixed;
  z-index: 100;
}
body {
  background:
linear-gradient(135deg, #D6CFCB 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
linear-gradient(225deg, #D6CFCB 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
background-color:#D6CFCB;
background-size: 64px 128px;

}
  nav {
    float: left;

  }
 
  nav ul {
    list-style: none;
    overflow: hidden; 
  }
  nav ul li {
    float: left;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
    font-size: 20px;
  }
  nav ul li a {
    display: block; 
    padding: 20px;
    color: #565264;
    text-decoration: none;
  }
  nav ul li:hover {
    background: #a8708863;
  }
  .imagen {
    padding-left: 1400px;
    position: relative;
    bottom: 3em;

  }

  .bien {

    font-family: sans-serif; 
    font-size: 20px; 
    font-weight: 400; 
    color: #565264;  
    background:#f399f3;
    box-shadow: inset 0px 0px 5px 5px #d386d3a4;
    box-shadow: 0px 0px 5px 5px #d386d3a4;
  }

  .logo {
    width: 90px;
    height: 60px;
 
    
  }
  .imagen1 {
    width: 180px;
    height: 90px;
float: left;
  }
  .imagen2 {
    width: 180px;
    height: 90px;
float: right;
  }
  .bien1 {

    font-family: sans-serif; 
    font-size: 25px; 
    font-weight: 400; 
    color: #565264; 
    background:#f399f3;
    box-shadow: inset 0px 0px 5px 5px #d386d3a4;
    box-shadow: 0px 0px 5px 5px #d386d3a4;
  }
  a.LINK {

    font-family: sans-serif; 
    font-size: 30px; 
    font-weight: 500; 
    color: #565264;  
margin: 0 0 25px; 
overflow: hidden; 
padding: 20px; 
border-radius: 35px 0px 35px 0px; 
-moz-border-radius: 35px 0px 35px 0px; 
-webkit-border-radius: 35px 0px 35px 0px; 
  }
  a.LINK2 {

    font-family: sans-serif; 
    font-size: 30px; 
    font-weight: 500; 
    color: #565264;  
    position: relative;
    top: 900px; 
margin: 0 0 25px; 
overflow: hidden; 
padding: 20px; 
border-radius: 35px 0px 35px 0px; 
-moz-border-radius: 35px 0px 35px 0px; 
-webkit-border-radius: 35px 0px 35px 0px; 
  }
  a.LINK3 {

    font-family: sans-serif; 
    font-size: 30px; 
    font-weight: 500; 
    color: #565264;  
    position: relative;
    top: -800px; 
margin: 0 0 25px; 
overflow: hidden; 
padding: 20px; 
border-radius: 35px 0px 35px 0px; 
-moz-border-radius: 35px 0px 35px 0px; 
-webkit-border-radius: 35px 0px 35px 0px; 

  }
  P.LINK {

    font-family: sans-serif; 
    font-size: 20px; 
    font-weight: 500; 
    color: #565264; 
  }

  #cajacookies {
    box-shadow: inset 0px 0px 5px 5px #d386d3a4;
    background-color: #d386d3;
    color: #565264;
    padding: 50px;
    margin:0 auto;
    text-align: center;
    box-shadow: 8px 10px 10px 1px rgba(0,0,0,0.5);
  }
  
  button.boton {
    box-shadow: 8px 10px 10px 1px rgba(0,0,0,0.5);
    background-color: rgba(25, 0, 255, 0.521);
    
  }
  button.boton:hover {
    background: #ff000063;
    box-shadow: 8px 10px 10px 1px #ff000063;;
  }
  footer{
    color:#565264;
  }

